/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}
.mo_image_id,.page-id-20 #wcfm-main-contentainer .wcfm_membership_box_head .wcfm_membership_price_description{
    display: none!important;
}


.banner a.button.white.is-outline {
    border-color: #fff;
    color: #fff !important;
}
.banner .text.box-shadow-3 {
    box-shadow: none;
}
.white.is-outline:hover {
    background-color: #7d0010 !important;
    border-color: #fff;
    color: #666 !important;
}
.trendingpartner .ced_ocor_basket a ,.deliverydeals .ced_ocor_basket a{
    display: none !important;
}
a.woocommerce-button.button.ced_my_account_place_same_order {
    display: none !important;
}
select option{text-transform: uppercase !important}

#wpadminbar .quicklinks .menupop ul li a:hover{color:#fff !important} 
button.aicon_link{
	top:150px;
}
body.search .page-title-inner .woocommerce-result-count,body.search .page-title-inner .woocommerce-ordering{
	display:none !important;
}
.d-flex{
	display:flex;
}
.p-10{
	padding:10px;
}
.datetime-c{
	border-right: 1px solid #c6c6c6;
	width: 200px;
}
.mb-20{
	margin-bottom:20px;
}
#customer_login{
	display: flex;
    padding: 30px;
    justify-content: center;
}
#customer_login .account-login-inner{
	border: 1px solid #f1f1f1;
    padding: 30px;
}
#dl_front,#dl_back{
	border: 1px solid #aeaeae;
    padding: 5px;
    width: 100%;
}
#customer_login .account-login-inner input[type=text]{
	margin-bottom:5px;
}
body.archive .shop-container{
	display:flex;
}
body.archive .woocommerce-result-count, body.archive form.woocommerce-ordering{
	display:none;
}
#top-bar .switcher{
    max-width: 130px;
    margin-right: 30px;
}
#top-bar .switcher .option{
    position: absolute;
    max-width: 150px;
}

.woocommerce-orders-table__cell .pi_cancel_request_form,a.ced_my_account_place_same_order,.driveruser ul.header-nav li.account-item li.woocommerce-MyAccount-navigation-link--downloads,.driveruser ul.header-nav li.account-item li.woocommerce-MyAccount-navigation-link--payment-methods ,.driveruser ul.header-nav li.account-item li.woocommerce-MyAccount-navigation-link--inquiry,.driveruser ul.header-nav li.account-item li.wishlist-account-element{
    display: none !important;
}
#top-bar .switcher {
    max-width: 148px!important;
}
.star-rating span:before {
    color: #ffeb3b !important;
}

.mfp-arrow:before{
    display:none;
}
.mfp-arrow:after{
    display:none;
}

.product-quick-view-container .product {
    height: 500px;
}

.product-quick-view-container .product-gallery-slider img{
    height: 500px;
    object-fit: cover;
}

.header-search-form-wrapper .searchform .flex-grow{
    width: 160px;
}

.sidebar-menu .header-search-form-wrapper .searchform .flex-row{
    justify-content: center;
    flex-direction: column;
}
.sidebar-menu .header-search-form-wrapper .searchform .search-form-categories{
    margin: 0 0 10px;
}
.sidebar-menu .header-search-form-wrapper .searchform .search-form-categories .search_categories{
    width: 100% !important;
}

.sidebar-menu .header-search-form-wrapper .searchform .flex-grow{
    margin: 0 0 10px;
    width: 94%;
}
.sidebar-menu .header-search-form-wrapper .searchform .flex-col:last-child{
    margin-left: 0;
    position: relative;
    top: -43px;
    right: -100px;
}

.product-type-simple .box-text-products .title-wrapper{
    font-weight:700;
}

.product-type-simple .box-text-products .price-wrapper{
    font-weight:700;
}

.shop-page-title.featured-title .title-bg {
    background-image: none;
}

.shop-page-title .page-title-inner .nav-right{
  display:none;
}

.woocommerce-product-gallery__wrapper .flickity-slider .woocommerce-product-gallery__image img {
   /* height: 374px;*/
    object-fit: cover;
}
form#commentform {
    width: 700px;
}

#iaa_avatarPreviewContainer.iaa_avatarContainer {
    z-index: 9;
}

.title-bg.fill.bg-fill.parallax-active {
    background-image: none!important;
}

.wc-tabs-wrapper .product-tabs li a{
    font-weight: 900;
    font-size: 16px;
}

#wcfmmp-store .wcfmmp-store-map button {
    width: auto!important;
    /*height: auto!important;*/
    font-size: 14px !important;
    padding: 0 7px !important;
    margin: 0 auto !important;
}

#wcfmmp-store .wcfmmp-store-map button.gm-fullscreen-control{
    width: 40px !important;
}

#wcfmmp-store .wcfmmp-store-map button img {
    width: 18px !important;
    height: auto!important;
    margin: 0!important;
}

#wcfmmp-store .wcfmmp-store-map div[draggable="false"] {
    width: auto !important;
    height: auto !important;
}
.guaven_woos_suggestion {
    display: none !important;
}
.grid-style-3 .price-wrapper {
    text-align: left;
    margin: 6px 0 0;
}
#wcfmmp-store p {
    padding: 0 0 8px 0;
}

.dtr-inline tfoot{
    display:none;
}
#is_virtual{
    margin-bottom: 0;
}
#is_downloadable{
    margin-bottom: 0;
}

p.wcfm_title strong, span.wcfm_title strong {
    font-style: normal;
}

.wcfm-collapse-content h2{
    font-style: normal !important;
}

.wcfm_filters_wrap select#dropdown_product_type{
    padding: 8px 25px 8px 10px;
}
.dataTables_wrapper .dataTables_processing {
    padding-top: 10px;
    background-color: #555;
    color: #fff;
    background: -webkit-linear-gradient(to right, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);
    background: -moz-linear-gradient(to right, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(to right, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(to right, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to right, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #333;
    padding: 0 0 0 10px;
}
.home-list-box {
    margin: 10px;
}


.slick-slide img {
    display: block;
    height: 325px;
    object-fit: cover;
}
.home-list-box h5.price {
    margin: 10px 0;
}
.stars a.star-2:after {
    content: '\e005';
}
.stars a.star-3:after {
    content: '\e005';
}
.stars a.star-4:after {
    content: '\e005';
}
.stars a.star-5:after {
    content: '\e005';
}
.stars a+a {
    margin-left: -10px;
    border-left: none;
}
a {
    text-decoration: none!important;
}
@media (max-width: 767px) {
.header-full-width {
/*display: none;*/
}
}
.ced_ocor_rfb ,.product_area img#wcfm_home{
    display: none;
}
.sent .form-flat.processing {
    display: none;
}
/*November 01-11-21 Start*/
@media (max-width: 850px) {
.hide-for-medium {
display: block !important;
}
	.hide-for-medium .header-nav {
display: none;
}
}
.col-inner .badge-container .badge {
    margin: -20px 0px 10px 10px !important;
}
.show-on-hover {
	z-index: 1;
}
.on-sale .onsale {
	font-size: 14px;
}
/*November 02-11-21 Start*/
.flickity-viewport {
	height: 630.737px !important;
}
.select2-selection__clear {
	display: none;
}
.product-small .box-image img {
    min-height: 324px;
}
.nav-dropdown {
	min-width: 330px;
}
form.register label.error {
	color: red;
}

.product-small .dark:hover {
	background: #25242482;
}
.message-wrapper {
    text-align: center;  
}
.mo-openid-app-icons>p {
	padding-bottom: 15px;
}
.woocommerce-NoticeGroup .woocommerce-error {
		color: red;
}

.woocommerce-MyAccount-content .woocommerce-Message {
	    display: flex;
    flex-direction: column;
}
.woocommerce-MyAccount-content .woocommerce-Message .woocommerce-Button {
	width: 30%;
} 
/*November 11-15-21 Start*/
.price-wrapper .price {
  min-height: 30px !important;
}
div.price-wrapper{
	padding-top: 31px;
}

.price-wrapper>span {
     margin-top: -31px;
}
.price-wrapper>span+a.button { 
     margin-top: 16px !important;
}
.product-type-simple .box-text-products .title-wrapper {
    min-height: 61px; 
}