/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/


@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}
.mo_image_id,.page-id-20 #wcfm-main-contentainer .wcfm_membership_box_head .wcfm_membership_price_description{
    display: none!important;
}


.banner a.button.white.is-outline {
    border-color: #fff;
    color: #fff !important;
}
.banner .text.box-shadow-3 {
    box-shadow: none;
}
.white.is-outline:hover {
    background-color: #7d0010 !important;
    border-color: #fff;
    color: #666 !important;
}
.trendingpartner .ced_ocor_basket a ,.deliverydeals .ced_ocor_basket a{
    display: none !important;
}
a.woocommerce-button.button.ced_my_account_place_same_order {
    display: none !important;
}
select option{text-transform: uppercase !important}

#wpadminbar .quicklinks .menupop ul li a:hover{color:#fff !important} 
button.aicon_link{
	top:150px;
}
body.search .page-title-inner .woocommerce-result-count,body.search .page-title-inner .woocommerce-ordering{
	display:none !important;
}
.d-flex{
	display:flex;
}
.p-10{
	padding:10px;
}
.datetime-c{
	border-right: 1px solid #c6c6c6;
	width: 200px;
}
.mb-20{
	margin-bottom:20px;
}
#customer_login{
	display: flex;
    padding: 30px;
    justify-content: center;
}
#customer_login .account-login-inner{
	border: 1px solid #f1f1f1;
    padding: 30px;
}
#dl_front,#dl_back{
	border: 1px solid #aeaeae;
    padding: 5px;
    width: 100%;
}
#customer_login .account-login-inner input[type=text]{
	margin-bottom:5px;
}
body.archive .shop-container{
	display:flex;
}
body.archive .woocommerce-result-count, body.archive form.woocommerce-ordering{
	display:none;
}
#top-bar .switcher{
    max-width: 130px;
    margin-right: 30px;
}
#top-bar .switcher .option{
    position: absolute;
    max-width: 150px;
}

.woocommerce-orders-table__cell .pi_cancel_request_form,a.ced_my_account_place_same_order,.driveruser ul.header-nav li.account-item li.woocommerce-MyAccount-navigation-link--downloads,.driveruser ul.header-nav li.account-item li.woocommerce-MyAccount-navigation-link--payment-methods ,.driveruser ul.header-nav li.account-item li.woocommerce-MyAccount-navigation-link--inquiry,.driveruser ul.header-nav li.account-item li.wishlist-account-element{
    display: none !important;
}